<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "uk.co.simonberry.app"
	version 	= "1.0.0">

	<name>Simon Berry</name>

	<description>
		
	</description>

	<author href="http://www.chrislomas.co.uk"
		email="chris@chrislomas.co.uk">
		Chris Lomas Ltd
	</author>

	<icon src="icon.png" gap:role="default" />
	
	<icon src="icons/ios/icon.png" width="57" height="57" />
	<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon_at_2x.png" width="114" height="114" />
	
	<icon src="icons/ios/icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/ios/icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/ios/icon-72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/ios/icon_at_2x.png" gap:platform="android" gap:density="xdpi" />

	<icon src="icons/ios/icon-72.png" gap:platform="blackberry" />
        
        <icon src="icons/ios/icon.png" gap:platform="winphone" />
        <icon src="icons/ios/icon_at_2x" gap:platform="winphone" gap:role="background" />
        
        <icon src="icons/ios/icon.png" gap:platform="webos" />
        <icon src="icons/ios/icon.png" gap:platform="webos" gap:role="mini" />
	
	<gap:splash src="startup.png" />

	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
        <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
        <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
        <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
        <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />

	<gap:splash src="splash/ios/Default.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="splash/ios/Default.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="splash/ios/Default_at_2x.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="android" gap:density="xhdpi" />

	<gap:splash src="splash/ios/Default.png" gap:platform="blackberry" />

	<gap:splash src="splash/ios/Default.png" gap:platform="winphone" />

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<access origin="http://www.simonberry.co.uk" subdomains="true" />
	<access origin="https://www.simonberry.co.uk" subdomains="true" />
        <access origin="http://simonberry.co.uk" subdomains="true" />
        <access origin="https://simonberry.co.uk" subdomains="true" />

	<preference name="orientation" value="default" />
	<preference name="webviewbounce" value="false" />
	<preference name="phonegap-version" value="cli-5.1.1" />
        
        <gap:plugin name="Analytics" /> <!-- latest release -->
        
</widget>