a#register {
	background: #019fde;
        color: #FFFFFF;
        text-shadow: none;
}
.ui-btn-corner-all{
    -webkit-border-radius:0.4em;
    border-radius:0.4em
}
.content {
    border: none !important;
}
.lightblue {
    color: #A5B1D7;
}
.darkblue {
    color: #444B68;
}
h2 {
    font-family:"Trebuchet MS";
}
p {
    margin: 2px 0;
}